# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
/dist/
.cache
.env
.bloop/
.idea/
/.metals/
.env
.vscode
project/metals.sbt
